#title {
    width: 45vw;
    margin: 2vw auto;
  }

  h1 {
    text-align: center;
    color: #fff;
    font-size: 0.625em;
    letter-spacing: 1px;
    font-family: 'Press Start 2P';
    font-weight: 400;
    /*Create overlap*/
    
    margin: 0;
    line-height: 0;
    /*Animation*/
    
    animation: glitch1 2.5s infinite;
  }
  
  h1:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
  h1:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }